* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  /* desktop font size */
  --desktop-text1: 95px;
  --desktop-text2: 23px;
  --desktop-text3:  18px;
  --desktop-text4: 16px;
  --desktop-text5:  12px;

  /* movile font size */
  --movile-text1:  79px;
  --movile-text2:  19px;
  --movile-text3:  15px;
  --movile-text4:  14px;
  --movile-text5:  10px;

  /* colors  */
  --color-wite: #ffffff;
  --color-blue: #026eed;
  --color-softBlue: #56a5f1;
  --color-very-pale-blue: #d5f3ff;

  /* colors darck mode */
  --color-dark: #53388f;
  --color-dark-2: #2f2958;

  --color-dark-card: #5836b3;
  --color-dark-card-2:#5936b4;
  --color-dark-card-3:#362a84;


  /* color boton swich */
  --color-green: #00a878;
  --color-red: #d5f3ff;
  --color-button: #026eed;
  --color-black: #000;

  /* color boton cambiar a Farenjai */
  --color-btn-faren : #38a0d8;
  --color-btn-faren-dark: #7d69f1;
}

body {
  font-family: 'Lato', sans-serif;
}